<div class="grid grid-cols-2 gap-4 my-4 h-200">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="h-1/5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Guías</h5>
      <p class="h-3/5 font-normal text-gray-700 dark:text-gray-400">
        Nuestra guía se enfoca en las tecnologías que utilizamos actualmente en nuestra startup, incluyendo React, Next.js,
        ESLint, TypeScript, Astro y Tailwind CSS.
        Aprende a utilizar estas herramientas de manera efectiva para construir aplicaciones web modernas y de alta calidad.
        Descubre las mejores prácticas y técnicas para escribir código limpio, optimizar el rendimiento de las aplicaciones y mantener una base de código escalable.
        ¡Mejora tus habilidades de programación y contribuye al éxito de nuestra startup con nuestra guía de tecnologías de programación!
      </p>
      <a class="h-1/5" href="#">Ver más</a>
    </div>
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="h-1/5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Estándares</h5>
      <p class="h-3/5 font-normal text-gray-700 dark:text-gray-400">
        En nuestra startup, seguimos altos estándares en la calidad del código y la documentación.
        Nuestra guía de estándares te muestra cómo aplicarlos a tus proyectos para mantener una base de código limpia y fácilmente mantenible.
        Incluimos prácticas como buenas convenciones de nomenclatura, documentación completa, pruebas exhaustivas y herramientas para garantizar la calidad del código.
        ¡Comienza a aplicar nuestros estándares hoy mismo para asegurar la calidad y eficiencia en el desarrollo de software en nuestra startup!
      </p>
      <a class="h-1/5" href="#">Ver más</a>
    </div>
  </div>

<style>
  .h-200 {
    height: 300px;
  }
</style>