<div class="grid grid-cols-2 gap-4 my-4 h-200">
  <div
    class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="h-1/5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Guías
    </h5>
    <p class="h-3/5 font-normal text-gray-700 dark:text-gray-400">
      Guía para dominar tecnologías clave como React, Next.js, TypeScript, Astro
      y Tailwind CSS, optimizando el desarrollo de aplicaciones web modernas y
      de alto rendimiento en nuestra startup.
    </p>
    <a class="h-1/5" href="#">Ver más</a>
  </div>
  <div
    class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="h-1/5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Estándares
    </h5>
    <p class="h-3/5 font-normal text-gray-700 dark:text-gray-400">
      En nuestra startup, mantenemos altos estándares de calidad y documentación
      en el código. Nuestra guía te ayuda a implementar prácticas clave para
      mantener un desarrollo eficiente y de calidad.
    </p>
    <a class="h-1/5" href="#">Ver más</a>
  </div>
</div>

<style>
  .h-200 {
    height: 300px;
  }
</style>
